* {
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  font-size: 150px;
}

body {
  background-color: #dcdcdc;
}

header {
  background: linear-gradient(to right, #0000cd, #00bfff);
  color: #fff;
  font-size: 0.5rem;
  padding: 0.005px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

footer {
  background: linear-gradient(to right, #0000cd, #00bfff);
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
}

.conteudo {
  font-size: 1.6rem;
  background-color: #fff;
  padding: 1.5rem;
  text-align: justify;
  margin: 0 auto;
  max-width: 95%;
}

.conteudo-topo {
  font-size: 1.6rem;
  background-color: #fff;
  padding: 1.5rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 15rem;
  max-width: 80px;
  padding-top: 3rem;
  border-radius: 20px;
}

h1 {
  font-size: 2.5rem;
}
